@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;500;600;700;1,400&display=swap');

/*
	Info
*/
.fas {
	margin-right: 0.3rem;
}

.card-special {
	border-radius: 10px;
	color:#fff;
	background: rgb(96,74,190);
	background: linear-gradient(0deg, rgb(36, 36, 36) 0%, rgb(29, 29, 29) 100%);
}

.navbar {
	margin-bottom: 20px;
 }

body {
	background-color: #ffffff;
	color: #000000;
}

h1,h2,h3, h4 {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

body, input, select, textarea, a {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.65;
	text-decoration: none;;
}

.fw-bolder {
	font-weight: 500;
}

.lead {
	font-weight: 400;
}
.nav-item a {
	color:#000000;
}
.nav-item a:hover {
	color:#0000006c;
}
.avatar-img {
	width: 110px;
	height: auto;
}

/*bootstrap placeholders*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
	font-size: 3.5rem;
  }
}


/*Icons*/
.icon {
	font-family: 'Font Awesome 5 Free';
}
.icon_brands {
	font-family: 'Font Awesome 5 Brands';
	font-size: 1.5em;
	position: relative;
	top: 3px;
	margin-right: 2px;
	color: #2c2c2c;
}


 .link-subtle {
	 color: #2c2c2c;
	 transition: 0.5s;
 }
 .icon_brands:hover, .link-subtle:hover {
	color: #2c2c2c94;
	transition: 0.5s;
}


@media only screen and (min-width: 700px) {
	.special-max-width {
		max-width: 500px;
	}
}