body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Center the images horizontally and vertically */
  user-select: none; /* -- Prevent image highlighting -- */
}

.image-container {
  position: relative; /* Add position relative to the container */
  width: 40vmin; /* Set the width of the container to match the image width */
  height: 56vmin; /* Set the height of the container to match the image height */
}

.image-container img {
  width: 100%; /* Set the width of the image to fill the container */
  height: 100%; /* Set the height of the image to fill the container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  object-position: 100% center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Styling for the caption */
.image-container > h2 {
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  padding-left: 0px;
  font-family: sans-serif;
  margin: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: opacity 0.3s ease;
}

/* -- YouTube Link Styles -- */

body.menu-toggled > .meta-link > span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i,
.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.show-caption {
  padding: 30px;
  display: block;
  background-color: red;
}

/* Show caption on hover */
.image-container:hover h2 {
  opacity: 1;
}
