:root {
    --background-color: #0e0e0e;
    --text-primary-color: #FFFFFF;
    --accent-white-color: #E2EBDF;
    --text-muted-color: #808080;
    --background-accent-white: #F0F0F0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(27, 27, 27), var(--background-color));
    background-size: 100% 100%;
    height: 100vh;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

nav {
    position: absolute;
    top: 40px;
    text-align: center;
    width: 100%;
    z-index: 100;
}

nav a {
    margin: 0 30px;
    text-decoration: none;
    color: var(--text-primary-color);
    transition: 0.3s ease-in-out;
}

a:hover {
    color:  var(--text-primary-color);
    transition: 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, p, nav {
    font-family: sans-serif;
    color: var(--text-primary-color);
    font-family: 'Open Sans', sans-serif;
}

a {
    color: var(--accent-white-color);
}

.text-muted {
    color: var(--text-muted-color);
}

.swiper-container {
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    width: 80%;
}

.carousel {
    display: flex;
    justify-content: center;
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 18px;
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

/*new stuff*/
.project-img-wrapper {
   object-fit: cover;
}

.project {
    margin: 20px;
    width: 60vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.project-img-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 161.8%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.project-img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-content {
    width: 100%;
    padding: 15px;
    padding-top: 0px;
    padding-left: 0px;
    color: var(--accent-white-color);
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

.project:hover .project-content {
    opacity: 1;
    transition: opacity 0.3s;
}

.project-content h2 {
    font-size: 1.6rem;
    margin-top: 25px;
    margin-bottom: 5px;
}

.project-content p {
    font-size: 1rem;
    margin-top: 0px;
}

footer {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between the two divs */
    padding: 20px; /* Add padding as needed */
    align-items: center; /* Centers items vertically */
    height: 50px;
}

footer div:first-child {
    text-align: left; /* Aligns text to the left */
}

footer div:last-child {
    text-align: right; /* Aligns text to the right */
}

footer .swiper-pagination {
    position: initial; /* Resets the position property */
    bottom: initial; /* Resets the bottom property */
    left: initial; /* Resets the left property */
    width: initial; /* Resets the width property */
    text-align: right; /* Aligns the pagination to the right */
}

.swiper-pagination-fraction {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/*Parallax stuff - overwrites old project img containers*/

.project-img-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 161.8%;
    overflow: hidden;
    position: relative;
}

.project-img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;  /* make the image larger than its container */
    height: 120%; /* make the image larger than its container */
    object-fit: cover;
    border-radius: 5px;
    object-position: center; /* center the image within the container */
}


/* Adjust font size for smaller screens */
@media screen and (max-width: 768px) {
    .project-content h2 {
        font-size: 1.5rem; /* Adjust as needed */
    }

    .project-content p {
        font-size: 1.4rem; /* Adjust as needed */
    }

    nav a {
        font-size: 1.4rem; /* Adjust as needed */
    }
}






/***** BOOTSTRAP STYLE ATTRIBUTES *****/

.my-1 {
    margin: 10px 0px;
}
