
/*
	Info
	To do: integrate SCSS better later
*/

/*Backgrounds and color replacements*/
:root {
	--brandprimary: #1EAEDB;
	--brandwhite: #F3F3F3;
	--bgrblack: #060606;
	--bgrdark2: #F3F3EF;
	--brandprimaryhover: #1aa0c9;
	--gray50: #A0A4A8; 
	--brand-secondary: #ef870c;
	}


/*Add a background to all pages*/
body {
	background-image: url("../images/pattern\ 1.jpg");
	background-repeat: repeat;
}

h1,h2,h3, h4 {
	font-weight: 300;
	font-family: 'Raleway', 'Open Sans', sans-serif;
}

h1, .h1 {
font-size: 45px;
text-transform: none;
}

h2, .h2 {
font-size: 42px;
line-height: 52px;
}

h3, .h3 {
font-weight: 500;
}

h4, .h4 {
font-size: 20px;
line-height: 30px;
font-weight: 500;
}

h5, .h5 {
font-size: 10px;
font-weight: 500;
color: #818181;
letter-spacing: 0.1em;
line-height: 26px;
margin-bottom: 5px;
text-transform: uppercase;
}

a {
	color: var(--brandprimary);
}

a:hover {
	color: var(--brandprimaryhover);
}

.project-info {
	margin-bottom: 10px;
}

.project-info p {
	font-size: 14px;
}

h6, .h6 {
font-size: 14px;
}


.text-dark2 {
	color: #1e1d1d;
}

.text-darker {
	color: #818181;
}

.card-body-with-arrow a, .card-link a:hover {
	color: inherit;
}

.fas {
	margin-right: 0.3rem;
}

.section {
	padding: 120px 0px;
}

.section-sm {
	padding: 60px 0px;
}

.page-title h1:after {
	position: absolute;
	content: "";
	left: 50%;
	bottom: 0px;
	width: 40px;
	height: 2px;
	margin-left: -25px;
	background: var(--brandprimary);
  }
  
.page-title h1 {
	position: relative;
    padding-bottom: 30px;
}


/*Other stuff*/

.navbar {
	/*margin-bottom: 20px;*/
	background-color: white;
 }

 .navbar-brand {
	font-size: 1em;
 }


.bg-dark2 {
	background-color: var(--bgrdark2);
}

.card {
	/*background-color: var(--brandwhite);*/
	/*border: 1px solid rgba(52, 52, 52, 0.949);*/
}

.card-rounded {
	border-radius: 10px;
}
.card-rounded img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card-text {
	margin-bottom: 5px;
}

.card-gray {
	background-color: #212121;
	width: 100%;
}

.card-transparent {
	width: 100%;
	border-width: 0px;
	background-color: transparent;
}

.btn-primary {
	background-color: var(--brandprimary);
	color: var(--brandwhite);
	border-color: transparent;	
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: var(--brandprimaryhover);
	border-color: transparent;
}

.btn-secondary {
	background-color: transparent;
	color: var(--bgrblack);
}

.arrow-link img {
	width: 24px;
	transform: 0.3s;
	opacity: 0.2;
}
.arrow-link:hover {
	opacity: 0.8;
	transform: 0.3s;
}
.card-body-with-arrow {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
  }

body, input, select, textarea, a {
	font-family: 'Helvetica', 'Inter', 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.65;
	text-decoration: none;;
}

.fw-bolder {
	font-weight: 500;
}


.lead {
	font-size: 1.1em;
	font-weight: 500;
	font-family: 'Inter',Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	color: #2c2c2c;
}

.text-label {
	color: var(--gray50);
	margin-bottom: 5px;
}




.nav-item a {
	color:#000000;
}
.nav-item a:hover {
	color:#0000006c;
}
.avatar-img {
	width: 110px;
	height: auto;
	border-radius: 50%;
}

/*bootstrap placeholders*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
	font-size: 3.5rem;
  }
}


/*Icons*/
.icon {
	font-family: 'Font Awesome 5 Free';
}
.icon_brands {
	font-family: 'Font Awesome 5 Brands';
	font-size: 1.5em;
	position: relative;
	top: 3px;
	margin-right: 2px;
	color: #2c2c2c;
}


 .link-subtle {
	 color: #2c2c2c;
	 transition: 0.5s;
 }
 .icon_brands:hover, .link-subtle:hover {
	color: #2c2c2c94;
	transition: 0.5s;
}


@media only screen and (min-width: 700px) {
	.special-max-width {
		max-width: 500px;
	}
}
/*card images*/
.card-img-top-cover {
    object-fit: contain;
	width: 100%;
	transition: transform 0.3s ease;
}
.card-img-top-cover:hover {
	transform: scale(1.01);
	object-fit: contain;
}


.card-link {
	display: block;
  }

  .card-link h4:hover {
	text-decoration: underline;
  }

.img-services {
	max-height: 150px;
	width: auto;
	object-fit: contain;
	padding-top: 10px;
}

/*animations*/
.star-animated {
	height: 60px;
	animation-name: rotate_star;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 10s;
}
@keyframes rotate_star {
	from {rotate: 0deg;}
	to {rotate: 360deg;}
  }

/* The typing effect */
.typewriter h2 {
	color: #71d2ea; /*var(--brandprimary);*/
	font-weight: 300;
	font-size: 3.8em;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0em solid var(--brandwhite); /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .01em; /* Adjust as needed */
	animation: 
	  typing 1s steps(40, end),
	  blink-caret .75s step-end infinite;
}
.typewriter {
	width: fit-content;
	margin: auto;
	animation-duration: 1s;
	animation-iteration-count: infinite ease-out;
}
@media screen and (max-width: 1100px) {
	.typewriter h2 {
		font-size: 3em;
	}
}

@media screen and (max-width: 800px) {
	.typewriter h2 {
		animation: none;
		white-space: wrap;
		text-align: center;
		font-size: 2em;
	}
	
}


@keyframes typing {
	from { width: 0% }
	to { width: 100% }
}
  
 /* The typewriter cursor effect */
 @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: var(--brandprimary); }
}


/*extra effecs*/
::selection {
	background: var(--brandprimary);
	color: black;
  }


  
/*line decoration home page*/

/*Speech bubble element*/
.tri-down {

    /* Styling block element, not required */
    position: relative;
    margin-bottom: 2em;
    padding: 1em; 
    border-bottom: 2px solid var(--brand-secondary);
    background: #fff;
	width: 100%;
  }

  /* Required for Down Triangle */
  .tri-down:before, .tri-down:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  /* Stroke */
  .tri-down:before {
    bottom: -28px;
   left: calc(50% - 30px); /* Adjusted to center the triangle */
    border-top-color: var(--brand-secondary);
    border-width: 28px;
  }

  /* Fill */
  .tri-down:after {
    bottom: -25.5px;
    left: calc(50% - 30px); /* Adjusted to center the triangle */
    border-top-color: #fff;
    border-width: 28px;
  }
    
  .full-width {
	width: 100%;
  }