
/*
	Info
	To do: integrate SCSS better later
*/

/*Backgrounds and color replacements*/
:root {
	--brandprimary: #F9CA52;
	--brandwhite: #F3F3F3;
	--bgrblack: #060606;
	--bgrdark2: #141414;
	--brandprimaryhover: #e1b442;
	}

	
.text-dark2 {
	color: #c2c2c2;
}

.text-darker {
	color: #818181;
}


.fas {
	margin-right: 0.3rem;
}

/*Other stuff*/

.navbar {
	margin-bottom: 20px;
 }

body {
	background-color: var(--bgrblack);
	color: var(--brandwhite);
}




.bg-dark2 {
	background-color: var(--bgrdark2);
}

.card {
	background-color: inherit;
	border: 1px solid rgba(52, 52, 52, 0.949);
}

.card-gray {
	background-color: #212121;
}

.btn-primary {
	background-color: var(--brandprimary);
	color: var(--bgrblack);
	border-color: transparent;	
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: var(--brandprimaryhover);
	color: var(--bgrblack);
	border-color: white;	
}

h1,h2,h3, h4 {
	font-weight: 600;
	font-family: 'Josefin Sans', 'Open Sans', sans-serif;
}

body, input, select, textarea, a {
	font-family: 'Inter', Helvetica, 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.65;
	text-decoration: none;;
}

.fw-bolder {
	font-weight: 500;
}

.lead {
	font-size: 1.2em;
}
.nav-item a {
	color:#000000;
}
.nav-item a:hover {
	color:#0000006c;
}
.avatar-img {
	width: 110px;
	height: auto;
	border-radius: 50%;
}

/*bootstrap placeholders*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
	font-size: 3.5rem;
  }
}


/*Icons*/
.icon {
	font-family: 'Font Awesome 5 Free';
}
.icon_brands {
	font-family: 'Font Awesome 5 Brands';
	font-size: 1.5em;
	position: relative;
	top: 3px;
	margin-right: 2px;
	color: #2c2c2c;
}


 .link-subtle {
	 color: #2c2c2c;
	 transition: 0.5s;
 }
 .icon_brands:hover, .link-subtle:hover {
	color: #2c2c2c94;
	transition: 0.5s;
}


@media only screen and (min-width: 700px) {
	.special-max-width {
		max-width: 500px;
	}
}
/*card images*/
.card-img-top-cover {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

/*animations*/
.star-animated {
	height: 60px;
	animation-name: rotate_star;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 10s;
}
@keyframes rotate_star {
	from {rotate: 0deg;}
	to {rotate: 360deg;}
  }

/* The typing effect */
.typewriter h2 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .12em solid var(--brandprimaryhover); /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	  typing 2s steps(14, end),
	  blink-caret .75s step-end infinite;
}
.typewriter {
	width: fit-content;
	margin: auto;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes typing {
	from { width: 0% }
	to { width: 100% }
}
  
 /* The typewriter cursor effect */
 @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: var(--brandprimaryhover); }
}


/*extra effecs*/
::selection {
	background: var(--brandprimary);
	color: black;
  }